{% extends "base.html" %}

{% block content %}
     <h1>Tasks</h1>

     <ul>
          {% for est in tasks %}
               <li>
                    <a href="{% url 'crearpersona_detalle' est.id %}">
                         <h1> {{est.cedula}}</h1>
                         <p> {{est.nombre}}</p>
                         <p> {{est.apellido}}</p>
                         <p> {{est.user.username}}</p>
                    </a>
               </li>
               
          {% endfor %}
     </ul>
     
{% endblock %}